/*************************************************************/
/*****Top menu Styles****************************************/
ul#topmenu {
	list-style:none;
	padding:0px 0px 0px 140px;
}

ul#topmenu ul{
	list-style:none;
	padding:0px 10px 0px 0px;
	
}




ul#topmenu ul{
	display:none;
	position:absolute;
	left:2px;
	top:100%;
	background-color:#333;
	/*opacity:0.8;*/
	margin:0;
	
	
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#333;
	
}






ul#topmenu li:hover>*{
	display:block;
}



ul#topmenu li:focus>*{
	display:block;
}





ul#topmenu li{
position:relative;
display:block;
white-space:nowrap;
font-size:0;
float:left;
}



ul#topmenu li:hover{
	z-index:1;
}


/*
ul#topmenu li:focus{
	z-index:1;
}
*/

ul#topmenu ul ul{
	position:absolute;
	left:100%;
	top:0;
}



ul#topmenu{
	font-size:0;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;
	
	*display:inline;
}


* html ul#topmenu li a{
	display:inline-block;
	opacity:1;
}


ul#topmenu>li{
	margin:0;
	padding-left:1px;
}

ul#topmenu a:active{
	outline-style:none;
}

/*
ul#topmenu a:focus{
	outline-style:none;
}
*/

ul#topmenu a{
	display:block;
	vertical-align:bottom;
	text-align:middle;
	text-decoration:none;
	font:normal 12px Helvetica,sans-serif;
	color:white;
	/*text-shadow:#FFF 0 0 1px;*/
	cursor:pointer;
	padding:16px 10px 0px 10px;
	
	font-weight:bolder;
	/*
	border-width:0 0 0 1px;
	border-style:solid;
	border-color:#C0C0C0;
	*/
	background-color:transparent;
}


ul#topmenu ul li{
	float:none;
	/*margin:10px 0 0;*/
}



ul#topmenu ul a{
	text-align:left;
	padding:4px;
	
	background-color:#white;
	opacity:0.9;
	background-image:none;
	border-width:0;
	color:white;
	text-decoration:none;
	text-shadow:#FFF 0 0 0;
}





ul#topmenu li:hover>a {
	color:#5599ff;
	/*background-color:white;*/
	background-position:0 100px;
	text-decoration:none;
}

ul#topmenu li a.pressed{
	/*color:rgb(17,95,181);*/
	background-position:0 100px;
	color:#f79034;
}


/*
ul#topmenu a:focus>a,ul#topmenu li a:focus{
	color:#FFF;
	background-color:#red;
	background-position:0 100px;
	text-decoration:none;
}
*/

ul#topmenu img{
	border:none;
	vertical-align:middle;
	margin-right:10px;
}
ul#topmenu span{
	display:block;
	overflow:visible;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:0px;
}

ul#topmenu ul li:hover>a,ul#topmenu ul li a.pressed{
	/*background-color:#333333;*/
	background-image:none;
	color:#5599ff;
	text-decoration:none;
}

/*
ul#topmenu ul li:focus>a,ul#topmenu ul li a:focus{
	background-color:#red;
	background-image:none;
	color:#FF8C00;
	text-decoration:none;
}
*/


/**********************************Side menu Styles With "CLASS"*************************************************/
/*****************************It can exist on many parts on the page using CLASS*********************************/
.sidemenudiv {

}

.sidemenuHeading  {position: absolute; left: -999999px;}

.sidemenu ul{
	margin:0;
	list-style:none;
	margin:0px 0px 2px 0px;
	font-size:0;
	z-index:1;
	position:relative;
	display:block;
	float:left;
	
}
.sidemenu ul li{
	display:block;
	white-space:nowrap;
	font-size:0;
	padding:0px;
}
.sidemenu ul>li{
	margin:2px 0 0;
}
.sidemenu ul a:active, .sidemenu ul a:focus{
	outline-style:none;
}
.sidemenu ul a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:12px Helvetica,sans-serif;
	cursor:pointer;
	padding:4px 5px;
	color:#5599ff;
	background-repeat:repeat;
	width:200px;

}
.sidemenu ul li:hover>a{
	color: #FF8C00;
	text-decoration:none;
}

.sidemenu ul li a:focus{
	color: #FF8C00;
	text-decoration:none;
}

.sidemenu ul img{
	border:none;
vertical-align:middle;
margin-right:6px;
}
.sidemenu ul li.topfirst>a{
	border-width:0;
}




/*****************************************Side menu Styles With "ID"***************************************/
/***********************************It can exist on ONE DIV ONLY on a page*********************************/

#sidemenudiv {
	font-size:0.8em;
}

ul#sidemenu{
	margin:0;
	list-style:none;
	margin:0px 0px 2px 22px;
	
	z-index:999;
	position:relative;
	display:block;
	float:left;
}
ul#sidemenu li{
	display:block;
	white-space:nowrap;
	
	padding:0px;
}
ul#sidemenu>li{
	margin:2px 0 0;
}
ul#sidemenu a:active, ul#sidemenu a:focus{
	outline-style:none;
}
ul#sidemenu a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	/*font:12px Verdana,Geneva,sans-serif;*/
	color:#5599ff;
	cursor:pointer;
	padding:4px 5px;
	/*width:200px;*/

}


ul#sidemenu li:hover>a,ul#sidemenu li a.pressed{
	color: #FF8C00;
	text-decoration:none;
}

ul#sidemenu li a:focus{
	color: #FF8C00;
	text-decoration:none;
}

ul#sidemenu img{
	border:none;
vertical-align:middle;
margin-right:6px;
}
ul#sidemenu li.topfirst>a{
	border-width:0;
}









